[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/law159
[access "refs/for/refs/*"]
	read = group user/law159
	push = group user/law159
	label-Code-Review = -2..+2 group user/law159
	label-Verified = -1..+1 group user/law159
	rebase = group user/law159
	removeReviewer = group user/law159
	submit = group user/law159
[access "refs/heads/*"]
	read = group user/law159
	create = group user/law159
	push = +force group user/law159
	pushMerge = group user/law159
[access "refs/tags/*"]
	push = group user/law159
	push = +force group user/law159
